* {
    color: #657b83;
}

.selected {
    background-color: #eee8d5;
    font-size: 24pt;
}

.unselected {
    background-color: #fdf6e3;
    font-size: 24pt;
}

.optionsList {
    background-color: #fdf6e3;
    font-size: 12pt;
}
